DOCKER_IMAGE_SERVER=mountaintop12/consultation:server-latest
DOCKER_IMAGE_CLIENT=mountaintop12/consultation:client-latest

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=consultation
POSTGRES_PORT=5432

APP_DOMAIN=app.local
API_DOMAIN=api.local

CERTBOT_EMAIL=admin@example.com
CERTBOT_STAGING=0

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/consultation

NETWORK_ID=2