# env:consultation-dapp
NODE_ENV=production
# --- vite envs (SSR fallback) ---
VITE_ENV=production
VITE_PUBLIC_DAPP_DEFINITION_ADDRESS=account_rdx12x6x8ryam4ahdh6aegjtyq98ysa9802226xz3n6se0y5uktj2lh5gh
VITE_PUBLIC_NETWORK_ID=2
VITE_VOTE_COLLECTOR_URL=http://api.local
# --- nitro envs ---
NITRO_HOST=0.0.0.0
NITRO_PORT=3000
